name: Android CI

on:
  push:
    branches:
      - canary
      - main
  workflow_dispatch: 
  tags:
    - "v*"

jobs:
  builds:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Cache Android SDK
        uses: actions/cache@v3
        with:
          path: |
            ~/.android/build-cache
            $ANDROID_HOME/build-cache
          key: ${{ runner.os }}-android-${{ hashFiles('**/build.gradle*', '**/gradle.properties') }}
          restore-keys: |
            ${{ runner.os }}-android-

      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 21

      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.14.3

      - name: Permission
        run: chmod +x ./gradlew

      - name: Build APK
        run: ./gradlew assembleRelease --build-cache

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: app/build/outputs/apk/release/app-release-unsigned.apk